# API Configuration
BASE_URL=https://192.168.100.212:8000/api

# Endpoints
CONFERENCES_ENDPOINT=/conferences

# OAuth Client IDs
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
MICROSOFT_CLIENT_ID=YOUR_MICROSOFT_CLIENT_ID
